.aboutHeading{
   text-align: center;
   font-weight: 700;
   font-size: 72px;
   font-family: Merriweather, serif;
   line-height: 115px;
}
.displayDiv {
    display: flex;
    margin-left: 50px;
}

.secondHalfDiv {
    width: 450px; 
    height: 450px; 
    background-color:rgb(24,24,24);
    border-radius: 50%;
    padding: 20px; 
    box-sizing: border-box;
    text-align: justify; 
    overflow: hidden; 
    line-height: 30px;
    font-size: 16px;
    color: white;
     transform: translateY(-45px);
}
.textdiv{
    width : 300px;
    height: 300px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 55px;
}
.imageDiv{
    width: 800px;
    height: 430px;
    margin-left: 170px;
    margin-right: 60px;
    transform: translateY(-50px);
    background-image: url('../../../public/Images/Nature.png');
}
.middileHeading{
    text-align: center;
}
h4{
    font-weight: 300;
    font-size: 42px;
    margin-left: 50px;
    font-family: Merriweather, serif;
}
.paraTextDiv{
    font-weight: 100;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 60px;
    line-height:35px ;
    transform: translateY(-20px);
}
.displayDiv{
    display: flex;
}
.image{
    width: 430px;
    height: 400px;
    background-image: url('../../../public/Images/womenholding.png');
    background-repeat: no-repeat;
}
.para2{
    width: 830px;
    height: 600px;
    margin-left: 60px;
    margin-top: 30px;
}
.image1{
    width: 1000px;
    height: 550px;
    margin: auto;
    transform: translateY(-100px);
    background-image: url('../../../public/Images/woman-meditating.jpg');
}
.para3{
    transform: translateY(-150px);
}
.displayDiv1{
    display: flex;
    transform: translateY(-100px);
}
.joinWithus{
    text-align: center;
    transform: translateY(-70px);
}
.image2{
    background-image: url('../../../public/Images/high-angle-hands.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.para4{
    margin-left:40px ;
}
.image2{
    width : 100px;
    height: 100px;
    margin: auto;
    transform: translateY(-70px);
    background-image: url('../../../public/Images/shakehand.png');
    background-size: 100%;
}