.display{
    display: flex;
    height : 480px;
    width : 100%;
    border : 1px solid black;
}
.rightContainer{
    width : 50%;
    background-image: url('../../../public/Images/homepage.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.leftContainer{
    width : 50%;
    background-color: rgb(136,221,204);
}
.homequote{
    margin-top: 170px;
    font-size: 40px;
}
.para{
    font-size : 20px;
    transform: translateY(-20px); 
}
.marginleft{
    margin-left: 50px;
}
.textDiv{
    width : 90%;
    height : 250px;
    border : 1px solid black;
    margin-top: 45px;
    display: flex;
    background-color: rgb(243,243,243);
}
.marginleft{
    margin-left :70px ;
}

.gifImage{
    width: 250px;
    border-radius: 10px;
    background-image:url('../../../public/Images/flowers-thackeray-thwack.gif') ;
    background-repeat: no-repeat;
}
.plant{
    text-align: center;
}
.style{
    font-size : 30px;
    font-style: normal;
    margin-left : 90px;
    color: rgb(19,19,19);
}
.category{
    color: rgb(77,77,77);
}
.parent{
    width: 100%;
    height : 350px;
    /* border: 1px solid black; */
    display: flex;
}
.parent2{
    margin-top: 40px;
}
.box{
    width: 320px;
    height: 280px;
    margin-left: 30px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: 320px 280px;
}
.box1{
    background-image: url('../../../public/Images/flower.png');
    
}
.box2{
    background-image: url('../../../public/Images/flower2.png');
}
.box3{
    background-image: url('../../../public/Images/closeup.jpg');
}
.box4{
    background-image: url('../../../public/Images/closeup-leaves.jpg');
}

.box5{
    background-image: url('../../../public/Images/pink-primrose.jpg');
    
}
.box6{
    background-image: url('../../../public/Images/peruvian.jpg');
}
.box7{
    background-image: url('../../../public/Images/bowl-chocolates.jpg');
}
.box8{
    background-image: url('../../../public/Images/green-plants.jpg');
}
.experience-cont{
    width: 100%;
    height: 650px;
    background-color:rgb(243,243,243) ;
}
.message{
    text-align: center;
    transform: translateY(35px);
}
.video{
    transform: translateX(300px);
    margin-top: 40px;
}

