.nav{
    height : 150px;
    width : 100%;
}
.navbar{
    height : 70%;
    width : 100%;
    display : flex;
    border-bottom: 1px solid black;
    font-weight: 10px;
}
#topDiv{
    width : 100%;
    height : 30%;
    text-align: justify;
    background-color : rgb(30,156,153);
    font-size: 15px;
}
.head{
    transform: translateY(13px)!important;
}
.logo{
    height : 80px;
    width : 300px;
    border-radius : 100px;
    background-image: url('../../../public/Images/Sanjivini.png');
    background-size : 100%;
    background-repeat: no-repeat;
}

.quote{
    margin-left : 40px;
    font-size: 12px;
    transform: translateY(-10px)!important;
}
.margintop{
    margin-top : 70px;
    margin-left : 60px;
}
.language{
    height : 30px;
    width : 200px;
    margin-top : 56px;
    margin-left : 450px;
}
.select{
    height : 25px;
    width : 200px;
    font-size: 18px;
    margin-top : 10px;
    border : none;
    background-color: white;
}
.link{
    color : black;
    text-decoration: none;
}
.category{
    font-size: 18px;
    border : none;
    background-color: white;
    color: black;
    -webkit-appearance: none;
    appearance: none;
    
}

   .dropdown {
    position: relative;
    margin-left: 60px;
    margin-top: 70px;
    color: black;
  }
  
  .dropdown span {
    color: #fff;
  }
  
  .dropdown .submenu {
    display: none;
    position: absolute;
    background-color: rgba(37, 127, 125, 0.736);
    color:black;
  }
  
  .dropdown:hover .submenu {
    display: block;
  }
  .dropdown span {
    color:black;
  }
  
  .dropdown .submenu {
    display: none;
    position: absolute;
    color:black; 
    padding: 10px;
  }
  