.flexBox {
    display: flex;
    flex-wrap: wrap;
    margin-left : 40px;
  justify-content: space-between;
}

.plantContainer {
    background-color :azure;
    /* background-color: rgb(205,197,161); */
    width: 300px;
    height : 350px;
    /* border: 1px solid green; */
    border-top: 1px solid green;
    border-left: 3px solid green;
    border-right: 1px solid green;
    border-bottom: 5px solid green;
    border-radius: 10px;
    text-align: center;
    padding : 10px 20px;
    margin : 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plantData:hover{
    display: none;
}
.plantImage{
    width : 150px;
    height : 150px;
    border-radius: 75px;
}
.plantImage:hover{
    width: 300px;
    height : 350px; 
}

.inputPart{
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
    background-color: rgb(243, 243, 243);
}
.input{
    width : 300px;
    height : 30px;
    margin-left : 950px; 
    margin-top : 22px;
}
.search{
    width :20px;
    height : 20px;
    border: none;
    margin-top : 29px;
    margin-left : 15px;
    background-image: url('../../../public/Images/find.png');
    background-size: 100%;
}
.search:hover{
    cursor: pointer;
}